.git
.atl
.DS_Store
openspec
images

hato-be/target
hato-be/.m2repo
hato-be/.mvn-home
hato-be/.idea
hato-be/.settings
hato-be/.classpath
hato-be/.project

hato-fe/node_modules
hato-fe/dist
hato-fe/.angular

**/coverage
**/*.log
**/.env
